body{
    background-image: url(./image/image\ dice\ bg.avif) ;
    background-image: auto;
    background-size: 700px;
    background-repeat: no-repeat;
    background-position-x: center top;
    background-position: 60%;
}
#Dice_title{
    color: aqua;
    margin-top: auto;
}
.container {
    text-align: center;
   

    margin: 50px auto;
}
#result{
    color: aqua;
    text-decoration: solid;
    font-size: xx-large;
    
}

.player {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    background-color: #f0f0f0;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}
